/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#tab {
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    background-color: #333;
    color: #fff;
}

thead tr {
    text-align: left;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

canvas {
    border: 1px solid #333;
    margin-bottom: 20px;
}

fieldset {
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
}

#actualTeam {
    font-style: italic;
}

input[type="color"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    color: #fff;
    font-size: 16px;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
}


/* Responsive Styles */
@media (max-width: 768px) {
    header {
        font-size: 20px;
    }
}

/* Button Style */
button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
